.hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 68px;
  height: 68px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-container span{
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: white;
  transition: 0.3s;
}

.hamburger-container span:nth-child(1) {
  transform: translateY(-7px);
}

.hamburger-container.activated span:nth-child(1) {
  transform: translateY(0px) rotate(225deg);
}

.hamburger-container span:nth-child(2) {
  transform: translateY(7px);
}

.hamburger-container.activated span:nth-child(2) {
  transform: translateY(0px) rotate(135deg);
}

.hamburger-container.activated span:nth-child(3) {
  background: transparent;
}
