.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 68px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(236, 236, 236);
  box-shadow: 0px 3px 10px rgb(228, 228, 228);
  background-color: white;
  left: 68px;
  right: 0px;
  top: 0px;
  z-index: 500;
  clip-path: inset(5px 5px -6px 0px);
}

.left-section {
  margin-left: 40px;
}

.pizzburg-logo {
  width: 107px;
  height: 51.7px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  margin-left: 39px;
  padding-bottom: 5px;
}

.schedule {
  font-family: Open Sans;
  font-size: 13px;
  color: gray;
}

.phone-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.6px;
}

.right-section,
.search-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cart-container {
  margin: 0px 16px 0px 18px;
}

.language-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lang-btn {
  width: 33px;
  height: 34px;
  border: none;
  font-family: Open Sans;
  font-size: 10px;
  cursor: pointer;
  color: gray;
  margin-right: 5px;
}

.lang-btn:hover {
  text-decoration: underline;
}

.active,
.active:hover{
  background-color: rgb(219, 219, 219);
}


