.cards-grid {
  display: grid;
  grid-template-columns: 335px 335px 335px;
  grid-template-rows: 592px 592px 592px;
  margin: 65px;
  column-gap: 75px;
  row-gap: 30px;
}

.card {
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  padding: 14px 20px 20px 20px;
  position: relative;
}

.card:hover {
  box-shadow: 0px 0px 7px 5px rgb(236, 236, 236);
  transition: 0.3s;
}

.pizza-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza-name {
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  margin: 15px 0px 25px 0px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer
}

.pizza-description-container {
  display: inline-block;
}

.pizza-description {
  font-size: 15px;
  line-height: 26px;
}

.weight {
  display: inline-block;
  margin-top: 7px;
}

.weight-text {
  font-size: 9px;
}

.options {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pizza-size {
  display: flex;
  justify-content: center;
}


.price-n-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  background-color: white;
  margin-right: 5px;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.s-active {
  background-color: yellow;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  margin-right: 5px;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 700;
  border: none
}

.price {
  font-size: 21px;
  font-weight: 700;
}

.plus {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.vertical {
  width: 2px;
  height: 12px;
  background-color: white;
  position: absolute;
}

.horizontal {
  width: 12px;
  height: 2px;
  background-color: white;
  position: absolute;
}

.minus {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.cart-btn {
  width: 153px;
  height: 50px;
  background-color: white;
  border: 1px solid black;  
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer
}

.cart-btn:hover {
  background-color: yellow;
  transition: 1s;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  width: 90px;
}

.count input{
  box-sizing: border-box;
  max-width: 10px;
  display: block;
  border: none;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
