.title {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 10px;
}

.title-link {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-family: Open Sans;
}

.title-with-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 43px;
  position: relative;
}

.dropdown-btn {
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  color: rgb(189, 189, 189);
  font-family: Open Sans;
  margin-left: 10px;
  box-shadow: 0px 0px 5px 2px rgb(235, 235, 235);
  width: 230px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom-style: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 228px;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  color: rgb(189, 189, 189);
  font-family: Open Sans;
  margin-left: 10px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  background-color: white;
  color: rgb(189, 189, 189);
  font-family: Open Sans;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.6s;
  border-top-style: none;
}

.dropdown-content a:hover {
  color: black;
}

.show {
  display: block;
  box-shadow: 0px 0px -5px 2px rgb(235, 235, 235);
}

.show .dropdown-btn {
  border-bottom-style: none;
}

.more-icon {
  height: 20px;
  color: gray;
}

.sort-text {
  font-size: 15px;
  cursor: pointer;
  font-weight: 300;
}

.create-text {
  font-size: 17px;
  cursor: pointer;
  font-weight: 400;
}

.pizza-constructor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 99px;
  margin-left: 55px;
}

.pizza-const-btn {
  height: 50px;
  width: 470px;
  border-radius: 0px;
  border: 1px solid black;
  background-color: white;
  margin-right: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
}

.pizza-const-btn:hover {
  background-color: yellow;
  transition: 1s;
}

.pizza-const-text {
  font-weight: 600;
  font-size: 13px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 335px 335px 335px;
  grid-template-rows: 581px 581px 581px;
  margin: 65px;
  column-gap: 75px;
}

.card {
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  padding: 14px 20px 20px 20px;
}

.card:hover {
  box-shadow: 0px 0px 7px 5px rgb(236, 236, 236);
  transition: 0.3s;
}

.pizza-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza-name {
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
  margin: 15px 0px 25px 0px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pizza-description-container {
  display: inline-block;
}

.pizza-description {
  font-size: 15px;
  line-height: 26px;
}

.weight {
  display: inline-block;
  margin-top: 7px;
}

.weight-text {
  font-size: 9px;
}

.options {
  margin-top: 70px;
}

.pizza-size {
  display: flex;
  justify-content: center;
}


.price-n-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  background-color: white;
  margin-right: 5px;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 700;
  transition: 0.5s;
}

.s-active {
  background-color: yellow;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border-width: 1px;
  margin-right: 5px;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 700;
  border: none
}

.price {
  font-size: 21px;
  font-weight: 700;
}

.plus {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  width: 2px;
  height: 12px;
  background-color: white;
  position: absolute;
}

.horizontal {
  width: 12px;
  height: 2px;
  background-color: white;
  position: absolute;
}

.minus {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.cart-btn {
  width: 153px;
  height: 50px;
  background-color: white;
  border: 1px solid black;  
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
}

.cart-btn:hover {
  background-color: yellow;
  transition: 1s;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  width: 90px;
}

.count input{
  box-sizing: border-box;
  max-width: 10px;
  display: block;
  border: none;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
