.sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  background-color: white;
  width: 68px;
  top: 68px;
  left: 0px;
  bottom: 0px;
  border-right-style: solid;
  border-right-color: rgb(236, 236, 236);
  box-shadow: 3px 10px 7px rgb(236, 236, 236);
  transition: 0.4s;
  overflow-y: scroll;
  justify-content: space-between;
  padding-bottom: 80px;
  z-index: 100;
}

::-webkit-scrollbar {
  display: none;
}

.sidenav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
}

.menu-choice-text {
  margin-left: 18px;
}

.link-container {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 50px;
  align-items: center;
  padding-left: 15px;
}

