.tv-card,
.phone-card {
  background-color: black;
  height: 326px;
  padding: 70px 45px 90px 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: rgb(44, 44, 44);
  border-bottom-width: 8px;
}

.tv-card-text,
.phone-card-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 595px;
}

.phone-card-text {
  margin-right: 100px;
}

.enjoy {
  color: white;
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}

.under-enjoy {
  color: white;
  font-size: 28px;
  font-weight: 500;
  max-width: 500px;
  margin: 20px 0px 0px 0px;
}

.tv,
.phone {
  width: 530px;
  height: 398px;
  position: relative;
}

.phone {
  margin-right: 100px;
  position: relative;
}

.tv-video {
  width: 387px;
  height: 217px;
  position: absolute;
  top: 823px;
  right: 186px;
}

.phone-container {
  position: relative;
}

.phone-animation-container {
  width: 331px;
  height: 96px;
  position: absolute;
  background-color: black;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 15px;
  bottom: 30px;
  left: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
}