.hamburger-menu {
  height: 24px;
  margin: 24px 24px;
}

.youtube-logo {
  height: 20px;
}

.search-icon {
  height: 24px;
  width: 24px;
	margin: 6px;
}

.voice-search-icon {
	height: 24px;
  width: 24px;
}
