
.whole-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 30px;
    background-color: white
}
.video-container {
    background-color: lightpink;
    height: 153px;
}